# This is for DevContainer, not needed for production
HOST_WORKSPACE=/home/developer/git-repo/go-proxy

# Keycloak Database Configuration
KC_POSTGRES_USER=postgres
KC_POSTGRES_PASSWORD=postgres
KC_POSTGRES_DB=postgres