# Server Settings
BFF_LISTEN_ADDR=:8080
PROXY_TARGET=api:8081

# Authentication (Keycloak/OIDC) Settings
OIDC_PROVIDER_URL=https://auth.local/idp/realms/go-proxy
OAUTH2_CLIENT_ID=api
OAUTH2_CLIENT_SECRET=nNXMU6GnFddXgzBYelgbQqTZc5Y2xzmT
OAUTH2_REDIRECT_URL=https://auth.local/api/auth/callback
OAUTH2_SCOPES=openid,profile,email

# Redis Settings
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
SESSION_TTL=720h  # 30 days (30 * 24h)
SESSION_KEY_PREFIX=session:
STATE_KEY_PREFIX=state:

# Session/Cookie Settings
# TODO: Add HttpOnly and SameSite attributes for enhanced security
SESSION_COOKIE_NAME=Session-Id
SESSION_COOKIE_SECURE=true

# CORS Settings
CORS_ALLOW_ORIGIN=https://localhost:3000
CORS_ALLOW_METHODS=GET, POST, PUT, DELETE, OPTIONS

# TLS/Certificate Settings
ROOT_CA_FILE=./rootCA.crt
