# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
DB_HOST=postgres
DB_PORT=5432

# Keycloak Authentication
KEYCLOAK_ISSUER=http://keycloak:8082/realms/myrealm
KEYCLOAK_AUDIENCE=bff
KEYCLOAK_JWKS_URI=http://keycloak:8082/realms/myrealm/protocol/openid-connect/certs

# JWKS Cache Settings (optional)
JWKS_REFRESH_INTERVAL=300
